.grid-container{
    display: grid;
    grid-row-gap:    30px;
    grid-column-gap: 3rem;
    margin: 0% 5%;
    grid-template-columns: 31% 31% 31%;
    justify-content: center;
    margin-bottom: 10%;
}

.container-1 div,img{
    display: inline-block;
    vertical-align: middle;
}
.container-1{
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 0 0 20px 20px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 15px;
    background-color:floralwhite   
}

.container-2 ,.container-3 ,.container-4 ,.container-5, .container-6 ,.container-7{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 20px;
    background-color:white
}

.container-2 ,.container-4{
    grid-row-start: 2;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    vertical-align:bottom;

}

.container-4{
    grid-column-start: 3;
    grid-column-end: 4;
}

.container-7{
    grid-column-start: 1;
    grid-column-end: 4;
}

.title{
    font-size: xx-large;
    font-weight: 500;
    margin: 1px 50px;
}

.subtitleNo1,.subtitleNo2,.subtitleNo3{
    font-size: xx-large;
    font-weight: 600;
    border-radius: 15px;
    padding: 20px 5px;
}
.subtitleNo1{
    color: mediumslateblue;
    border: 2px solid mediumslateblue;

}

.subtitleNo2{
    color: indianred;
    border: 2px solid indianred;

}

.subtitleNo3{
    color: green;
    border: 2px solid green;

}

.subtitleNo4{
    color: rgb(187, 8, 157);
    border: 2px solid rgb(187, 8, 157);
    margin: 10px 30%;
    font-size: x-large;
    border-radius: 15px;
    padding: 20px 20px;
    font-weight: 500;
}