.Gwidget1{
    border-radius: 15px;
    border: 2px solid indianred;
    margin: 30px 0px;
    padding: 20px 5px;
}

.Gwidget2{
    border-radius: 15px;
    border: 2px solid darkcyan;
    margin: 30 0px;
    padding: 20px 5px;
}

.Gwidget3{
    border-radius: 15px;
    border: 2px solid rgb(18, 151, 0);
    margin: 20px 0px;
    padding: 20px 5px;
}

.Gnumber1 , .Gnumber2 ,.Gnumber3{
    
    font-size:xx-large;
    font-weight: 700;
    
}

.Gnumber1{
    color: indianred;
}

.Gnumber2{
    color:darkcyan;
}

.Gnumber3{
    color:rgb(18, 151, 0);
}

.GstatTitle{
    font-weight: 500;
}